.track {
	color: #3f51b5 !important;
	margin: 20px;
	padding: 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.track__info {
	width: 200px !important;
	margin: 0 15px;
}

.track__cover {
	border-radius: 4px;
}

.track__name {
	font-size: 18px;
	color: #1c1c1c;
	font-weight: 700;
}

.track__artist {
	font-size: 14px;
	color: rgb(105, 105, 105);
	font-weight: 600;
}

.timeline {
	margin-left: auto !important;
}
